@mixin flex($jc: null, $ai: null, $direction: null){
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $direction;
}

@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}