@use "../abstracts/" as *;

.music-player {
    width: 100%;
    height: 102px;
    @include position(absolute, $bottom: 16px);
    z-index: 10;
    @include flex($jc: space-between, $ai: center);
    padding-block: 16px;
    padding-inline: 24px;
    background-color: color("white");


    &-progress {
        width: 100%;
        height: 4px;
        background-color: color("primary-color"); 
        @include position(absolute, $top: 0);
        overflow: hidden;
    
        .progress-bar {
          height: 100%;
          width: 0;
          background-color: color("secondary-color");
        }
    }

    &-artist {
        @include flex($ai: center);
        width: 300px;
        gap: size(12);
        line-height: 1;

        &-img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: solid 2px color("primary-color");
            object-fit: cover;
        }

    }
    %cursor{
        cursor: pointer;
    }

    &-controls {
        @include flex;
        gap: size(24);
        font-size: fs("fs-20");
        @extend %cursor;
    }

    &-sound-control {
        @include flex;
        @extend %cursor;
        font-size: fs("fs-20");
    }
    &-setting{
        @extend %cursor;
    }

    &-control-range{
        accent-color: color("primary-color");
    }


}