@use "scroll-horizontal";
@use "../abstracts/" as *;


.recent-playlist {
    &-list {
        @extend %scroll-horizontal;
        @include flex($direction: column);
        flex-wrap: wrap;
        max-height: 380px;
        gap: size(36);
    }

    &-item {
        @include flex($ai: center);
        width: 375px;
        height: 70px;
        line-height: 1.1;
        @include position(relative);
        margin-block: size(8);
        margin-left: size(36);
        padding: 5px 15px 5px 60px;
        border-radius: 6px;
        box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.07);
        background-color: color("white");
    }

    &-img {
        width: 80px;
        height: 80px;
        @include position(absolute);
        border-radius: 50%;
        left: -20px;
    }

    &-details {
        margin-left: size(48);
    }

    &-controls {
        margin-left: auto;
        @include flex($ai: center);
    }

    &-play-btn {
        width: 30px;
        height: 30px;
        border: solid 1.6px #f2f3f5;
        @include flex($jc: center, $ai: center);
        border-radius: 50%;
        margin-left: size(12);
        cursor: pointer;
    }
}