@use "../abstracts/" as *;
@use "../components/" as *;

header{
    background-color: #fafafa;
    flex-basis: 20%;
}


%pointer-event{
    pointer-events: none;
}

.search-bar{
    &-icon{
        @include position(absolute, $top:50%, $left: 10px);
        transform: translateY(-50%);
    }

    &-input{
        border: none;
        border-radius: 4px;

        &:focus{
            outline: 1px solid color("primary-color");
        }
    }
}

.sidebar{
    height: calc(100vh - 151px);
    @extend %scroll-vertical;
}


%rounded-profile{
    width: 74px;
    height: 74px;
    border-radius: 50%;
    object-fit: cover;
}

.user-profile{
    height: 120px;
    &-picture{
        @extend %rounded-profile;
    }

    &-detail{
        letter-spacing: 1.2px;
        & i{
            font-size: fs("fs-12");
            @extend %pointer-event;
        }
    }

    &-detail:hover{
        color: color("gray");
    }

    &-stats{
        line-height: 1.1;
    }
}


.profile-stats{
    &-item{
        flex-grow: 1;
        &:not(:last-child){
            border-right: 2px solid color("primary-color");
        }
    }

    &-label{
        letter-spacing: 1px;    
    }

    &-count{
        user-select: none;
    }
}


.soundbuzz{
    &-title{
        text-transform: uppercase;
    }

    &-item{
        & > * {
            @extend %pointer-event;
        }
    }
    &-item:hover{
        color: color("primary-color");
    }
}

.profile-modal{
    display: none;
    @include position(fixed);
    inset: 0;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.462);
}


.upload-profile{
    @include position(absolute, $top:50%, $left:50%);
    transform: translate(-50%, -50%);
    width: 500px;
    height: 300px;
    @include flex( $direction: column);
    gap: size(36);
    background-color: #fffcfcf5;
    padding: size(36);

    &-pic-wrap{
        @include flex($ai: flex-end);
        gap: size(8);
    }

    &-pic{
       @extend %rounded-profile;
       margin-right: size(16);
    }

    &-pic-btn{
        display: inline-block;
        cursor: pointer;
        padding: 4px 18px;
        background-color: color("primary-color");
        color: color("white");
        border: 1px solid transparent;
        border-radius: size(8);

        &:hover{
            border: 1px solid color("secondary-color");
            background-color: color("white");
            color: color("secondary-color");
        }
    }

    &-pic-input{
        display: none;
    }

    &-name-label{
        font-weight: fw("700");
    }

    &-name-input{
        border: none;
        margin-left: size(16);
        border-radius: 4px;
        padding: 4px 12px;

        &:focus{
            outline: 2px solid color("primary-color");
        }
    }

    &-btn{
        background-color: color("primary-color");
        color: color("white");
        border: 1px solid transparent;
        border-radius: size(8);
        margin-right: size(16);

        &:hover{
            border: 1px solid color("secondary-color");
            background-color: color("white");
            color: color("secondary-color");
        }
    }
}

